.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.logo:hover {
  color: var(--accent-purple-lighter);
}

.logo-icon {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
}

.titre-actif {
  color: red;
}
